@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@100;200;300;400;500;700;900&display=swap');

body{
    color: yellow;
    background-color: chocolate;
}

h1.headers{
    font-family: 'Google Sans';

}

p.paragraphs{
    font-family: 'Consolas';
    color: whitesmoke;
    background-color: grey;
    text-align: center;
}